* {
  margin: 0;
}

@media (max-width: 767.98px) {
  main {
    width: 100%;
    max-width: 1440px;
    padding: 0 0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  body main {
    width: 100%;
    box-sizing: border-box;
  }
  body h1 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  body h2 {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .accueil {
    margin: 0;
    font-family: roboto;
  }
  .entete {
    display: grid;
    grid-template-columns: 13% 74% 13%;
    align-items: center;
    justify-items: center;
    height: 3.93rem;
  }
  .entete i {
    color: var(--black, #101010);
    text-align: center;
    font-family: Shrikhand;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0.88rem 0 0.81rem 0;
    width: 100%;
  }
  .entete .icone {
    display: none;
    border: solid 1px;
    margin-left: 1.065rem;
  }
  .localisation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3.125rem;
    align-items: center;
    background: var(--grey-2, #eaeaea);
    box-shadow: 0px 5px 3px -5px inset grey;
  }
  .localisation .localisation__btn {
    color: var(--grey, #353535);
    /* Button */
    font-size: 1rem;
    line-height: normal;
    margin-left: 1.06rem;
    border: none;
    background: var(--grey-2, #eaeaea);
    width: 109px;
  }
  .decouverte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 224px;
    padding-bottom: 3.56rem;
    background-color: #f6f6f6;
    /* Paragraph */
  }
  .decouverte h1 {
    height: 4.25rem;
    padding-top: 2.44rem;
  }
  .decouverte p {
    width: 84%;
    font-size: 1.125rem;
  }
  .decouverte__bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.6rem;
    height: 3.13rem;
    border-radius: 1.5625rem;
    background: var(--button-gradient, linear-gradient(175deg, #9356dc 0%, #ff79da 100%));
    margin-top: 1.7rem;
    /* Shadow/Button */
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: var(--white, #fff);
    text-align: center;
    text-decoration: none;
    /* Button */
    line-height: normal;
  }
  .decouverte__bouton:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #9356dc 0%, #ff79da 100%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  }
  .navigation h1 {
    margin-left: 1.25rem;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 3rem;
    margin-bottom: 4.25rem;
  }
  .navigation .navigation__page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1.25rem;
  }
  .navigation .navigation__page .navigation__rep {
    display: flex;
    flex-direction: row;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #9356dc;
    color: white;
    font-style: normal;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-right: -12px;
    position: relative;
  }
  .navigation .navigation__page .navigation__bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20.15538rem;
    height: 4.52369rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: var(--background, #f6f6f6);
    gap: 1.67rem;
    text-decoration: none;
    /* Shadow/Instructions */
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  }
  .navigation .navigation__page .navigation__bouton .navigation__bouton__txt {
    text-decoration: none;
    color: black;
  }
  .restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    background: #f6f6f6;
    box-sizing: border-box;
    gap: 1.12rem;
    padding-bottom: 4.12rem;
  }
  .restaurants h1 {
    margin-bottom: 1.5rem;
    margin-top: 3.38rem;
    margin-left: 1.25rem;
  }
  .carte {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    background: white;
    gap: 1.12rem;
  }
  .carte img {
    height: 174px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .carte .photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .carte .nouveau {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #008766;
    width: 5rem;
    height: 1.8125rem;
    border-radius: 0.125rem;
    background: var(--green, #99e2d0);
    /* Shadow/Badge */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    right: 0.75rem;
    top: 0.81rem;
    text-align: center;
  }
  .carte .legende {
    display: flex;
    flex-direction: row;
    margin-left: 0.81rem;
  }
  .carte .blabla {
    width: 70%;
  }
  .carte .coeur {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
  footer {
    display: flex;
    flex-direction: column;
    background: var(--grey, #353535);
    color: white;
  }
  footer .foot {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    gap: 0.63rem;
  }
}
.map {
  margin: 1.38rem 1.56rem;
  display: flex;
  flex-direction: column;
  gap: 0.44rem;
}
.map i {
  font-family: Shrikhand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0.88rem 0 0.81rem 0;
  width: 100%;
}/*# sourceMappingURL=style.css.map */